/*Style applied for the whole page*/
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ADD8EF;
}

/* The content of the calculator */
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    padding: 20px; /* Adding padding in order to keep internal space*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adding shadow to enhance the appearance */
}

/* The display of the calculator */
#display {
    width: 100%;
    padding: 15px;
    font-size: 2.5em;
    text-align: right;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px; /* space between the display and the buttons */
    overflow: hidden;
    white-space: nowrap;
}

/* Conteneur des touches */
#keys{
    display: grid;
    grid-template-columns: repeat(4, 70px); /*4 columns each one having a width of 70px*/
    grid-template-rows: repeat(5, 70px); /* 5 rows each one having a height of 70px */
    gap: 10px; 
    justify-content: center; /* In order to center the buttons in the same row*/
}

/* Style applied to buttons*/
button{
    border: none;
    border-radius: 35px;
    background-color: hsl(226, 34%, 55%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

/*Effects and translations producted while interacting with the buttons */
button:hover{
    background-color: hsl(226, 34%, 65%);
}
button:active{
    background-color: hsl(226, 34%, 75%);
}

/* Style applied to the operators */
.operator-btn{
    background-color: hsl(258, 71%, 52%);
}
.operator-btn:hover{
    background-color: hsl(258, 71%, 62%);
}
.operator-btn:active{
    background-color: hsl(258, 71%, 72%);
}

/* A specific style applied to the button equal*/
button.equal-btn {
    grid-column: 3 / 5; /* In ordre to expand it from the 3rd to the 4th column */
    grid-row: 5 / 6; /* to place it in the 5 row */
    border-radius: 35px;
}

